/.idea/
automatyzacja.iml
/out/production/automatyzacja/CustomScanner.class
/out/production/automatyzacja/HelloWorld.class
/out/production/automatyzacja/InformacjeOgolne.class
/out/production/automatyzacja/InkrementacjaDekrementacja.class
/out/production/automatyzacja/InstrukcjaWarunkowaIf.class
/out/production/automatyzacja/OperatoryLogiczne.class
/out/production/automatyzacja/OperatoryMatematyczne.class
/out/production/automatyzacja/OperatoryPorownania.class
/out/production/automatyzacja/TypyObiektowe.class
/out/production/automatyzacja/TypyProste.class
/out/production/automatyzacja/Zmienne.class
/out/production/automatyzacja/Calculator.class
/out/production/automatyzacja/InstrukcjaWarunkowaElseIf.class
/out/production/automatyzacja/AgeChecker.class
/out/production/automatyzacja/DoWhile.class
/out/production/automatyzacja/ForLoop.class
/out/production/automatyzacja/Switch.class
/out/production/automatyzacja/Tablica.class
/out/production/automatyzacja/WhileLoop.class
